<div class="container" style="text-align: center;">
  <img src='~/img/4.jpg' alt="Logo" height="230px" width="60%">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/Stylists">Stylist</a></li>
    <li role="presentation"><a href='/Clients'>Client</a></li>
    <li role="presentation"><a href='/Stylists/Search'>Search Stylist By Name</a></li>
    <li role="presentation"><a href='/Appointments/Create'>Appointment</a></li>
  </ul>
</div>
