 @{
  Layout = "_Layout";
}

@model HairSalon.Models.Appointment;

<h3>Appointment Details</h3> 
<hr />

<h3>Client Name: @Html.DisplayFor(model => model.Client.ClientName)</h3>
<h3>Date: @Html.DisplayFor(model => model.AppointmentDate)<h3>
<h3>Time: @Html.DisplayFor(model => model.AppointmentTime)<h3></h3>


<p>@Html.ActionLink("Back to list", "Index")</p>