@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.ClientName)?</h2>

<h3>Client Name: @Html.DisplayFor(model => model.ClientName)<h3>
<h3>Phone Number: @Html.DisplayFor(model => model.ClientPhoneNum)<h3>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
